@CHARSET "UTF-8";

	#header{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:70px;
		z-index:9999;
		background: linear-gradient(rgba(192, 192, 192, 1) 40%, rgba(192, 192, 192, 0.7) 60%, rgba(192, 192, 192, 0));
		}

	body{
	/*背景変化↓*/
	background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;

	}

	#logo{
		position:relative;
		bottom:20px;
		float:left;
		width:130px;
		height:50px;

		}

	#main{
		min-height:calc(100vh-70px);
		}

	#error{
		width:100%;
		margin-top:50px;
		color:red;
		}

	#left{
	    top:80px;
	    margin-left:20px;
		float:left;
		width:50%;
		margin-bottom:80px;
		}

	#item{
		width:470px;
		height:400px;
		margin-bottom:10px;
		padding: 0.5em 1em;
    	margin: 2em 15px;
    	color: #5d627b;
    	background: white;
    	display:inline-block;
    	border-top: solid 5px #5d627b;
    	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
		}

	#item:hover{
		border-top: solid 5px #999999;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
		}

	#category_i{
		float:left;
	}

	#category_d{
		position:relative;
		margin-left:300px;
		}

	#right{
		position:fixed;
        left:700px;
		top:60px;
		width:50%;
		}


	#pageName{
		float:left;
		white-space:nowrap;
		width:20px;
		color:red;
		}

	h2{
		font-style:italic;
		}

	th{
		white-space:nowrap;
		}

  /*ボタンその２↓------------------------------*/

.button {

  float:right;
  margin-top:5px;
  margin-right:5px;
  display: inline-block;
  width: 114px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;

}

.button::before,
.button::after {

  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.button,
.button::before,
.button::after {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;

}




/*------------------------------*/

.button {

  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 36px;
}

.button::after {
  top: 4px;
  left: 4px;
  width: 100px;
  height: 28px;
  border: 2px solid #333;
  opacity: 0;
}

.button:hover::after {
  opacity: 1;
}

/*---------ボタンその２↑------------------------*/


/*----------------------*/


/*------------------------------*/
	#footer{
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		height:50px;
		background-color:black;
		}

		/*背景変化↓*/

		@-webkit-keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}
@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}