@CHARSET "UTF-8";


	body{
	white-space: nowrap;
	
	}

	.main{
	  
		margin: 0 auto;
        width: 300px;
		
		min-width:1000px;
		font-family:serif;
		
	}
	
	.mais{
	 margin-bottom:1em;
	}
	
	
	/*----------画像------------------*/	
	
	.itemBox img{
	margin:35px 0 25px 0;
	clear:both;
	border:3px solid black;
	width:200px;
	height:200px;
	
	}
	
	
	.itemBoxFirst img{ 
    margin:35px 0 25px 0;
	border:3px solid black;
	width:200px;
	height:200px;
	
	}
	
	/*----------テーブル------------------*/
	
	
	table.itemBox{
	
	text-align: center;
	
	white-space: nowrap;
	position:relative;
	top:0;
	left:0;
	float:left;
	width:27%;
	height:25%;
	overflow:hidden;

	padding: 0.5em 1em;
    margin: 2em 0;
    color: #000;
    
    background: white;
    
    border-top: solid 2px #C0C0C0;

    

	}
	
	
	table.itemBoxFirst{
	
	text-align: center;
	
	white-space: nowrap;
	position:relative;
	top:0;
	left:0;
	float:left;
	width:27%;
	height:25%;
	clear:both;
	overflow:hidden;

	padding: 0.5em 1em;
    margin: 2em 0;
    color: #000;
    
    background: white;
    
    border-top: solid 2px #C0C0C0;

    

	}
	
	/*------ここからボタン↓---------*/
	
.buttonBox {
	width: 100%;
}

.btn { 
	
	width: 245px;
	margin: 0 auto;
	margin-top: 2em;
	z-index: 2;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}

.btnn { 
	
	width: 245px;
	margin: 0 auto;
	margin-top: 3em;
	z-index: 2;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}



.btnn a,.btn a,.btn0 a{
	
	color: #C0C0C0; /*押す前のfontの色*/
	
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 11px;
}



/*------*/


.button {
	
	position: relative;
	display: inline-block;
	
	padding: .65em 1em; /**/

	border: 2px solid #C0C0C0; 	/*枠の色*/
	
	text-decoration: none;
	text-align: center;
	

	
}

.button::after {
	
    position: absolute;
	top: 4px;
	left: 4px;
	z-index: -1;
	content: '';
	width: 102%;
	height: 102%;

	background-color: #808080;	/*ボタン背景色*/
    
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*押した後のfontの色*/

.button:hover {
	
	color: #C0C0C0;
	
}

.button:hover::after {
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	-webkit-transform: rotate(0);
	transform: rotate(0);
	
}



	@font-face {
	
	font-family: 'DoverHeights';
	src: local('DoverHeights') ,url('DoverHeights.otf');
}
	.fontTest{
	
		font-size:144px;
		font-family:'DoverHeights';
		
	}


