@CHARSET "UTF-8";

	.main{
		min-width:1000px;
		margin-top:70px;
		margin-bottom:70px;
		min-height:calc(100vh - 70px);
		}

	.title{
		width:100px;
		font-style:italic;
		margin-left:50px;
		letter-spacing:5px;
		border-bottom: double 5px #FFC778;
		}

	.message{
		margin-left:50px;
		font-style:italic;
		}

	#box{
		width:800px;
		display:flex;
		flex-wrap:wrap;

		}

	#item{
		width:300px;
		height:300px;
		margin-bottom:10px;
		padding: 0.5em 1em;
    	margin: 2em 15px;
    	color: #5d627b;
    	background: white;
    	border-top: solid 5px #5d627b;
    	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
		}

	#item:hover{
		border-top: solid 5px #999999;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);


		}

	#color{
		color:blue;
		}

	.pro_img{
		border:solid;
		width:100px;
		}


	.delete{
		position:fixed;
		top:51px;
		left:800px;
		width:40%;
		margin-top:90px;
		}

	.settlement_btn{
		position:fixed;
		top:51px;
		left:800px;
		width:40%;
		margin-top:300px;
		}

	.totalPrice{
		position:fixed;
		top:51px;
		left:800px;
		width:200px;
		margin-top:250px;
		font-size:20px;
		color: #6594e0;
		border-bottom: dashed 2px #6594e0;

		}


	<!--ボタン関連-->



.delete a ,.settlement_btn a{

	color: #fff;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 11px;
}
#delete_b,#set_b,#set_c{
	position: relative;
	display: inline-block;
	padding: .65em 4em;
	border: 2px solid #C0C0C0;
	color: #333;
	text-decoration: none;
	text-align: center;
	border-style:none;

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;


}

#delete_b::after,#set_b::after,#set_c::after {
    position: absolute;
	top: 4px;
	left: 4px;
	z-index: -1;
	content: '';
	width: 102%;
	height: 102%;
	background-color: #808080;

	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#delete_b:hover,#set_b:hover,#set_c:hover{

	color: #C0C0C0;

}

#delete_b:hover::after,#set_b:hover::after,#set_c:hover::after{

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(0);
	transform: rotate(0);

}
