@CHARSET "UTF-8";

  table{
     border-spacing : 5px 10px;
margin:0 auto;
	width:400px;
	margin-top:5px;
	background-color:white;
	border-bottom:1px solid lightgray;
	border-top:1px solid lightgray;
white-space: nowrap;
overflow:hidden;
	text-align: center;

  }


   .message{
     text-align: center;
     font-size:150%;
     white-space: nowrap;
     overflow:hidden;
     }






	.bottan{
text-align : center ;
}

.button {
	margin-left: auto;
 margin-right: auto;
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 48px;
}
.button::after {
  top: 4px;
  left: 4px;
  width: 188px;
  height: 42px;
  border: 2px solid #333;
  opacity: 0;
}
.button:hover::after {
  opacity: 1;
}







