@CHARSET "UTF-8";
body{
	margin:0;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	margin:0;
	text-align:center;
	background: red;
}
.cart{
	width: 80px;
	heiht: 80px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.search{
	width: 80px;
	heiht: 80px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.home{
	width: 80px;
	heiht: 80px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.user{
	width: 80px;
	heiht: 80px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.item{
	width: 80px;
	heiht: 80px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.inside{
	position: fixed;
	top:10px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display: none;
	text-align:center;
	background-color: rgba(100,100,100,0.5);
}
.hide_box{
	display:inline-block;
	position:absolute;
	top:30%;
	width:300px;
	hieght:40%;
	min-width:400px;
	min-hieght:250px;
	background:yellow;
}