@CHARSET "UTF-8";
body{
	margin:0;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	margin:0;
	background:black;
}
.menu{
	top: 7px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
	text-align:center;
}
.cart{
	width: 50px;
	height: 50px;
	background:#00CC99;
	vertical-align: middle;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.search{
	width: 50px;
	height: 50px;
	background-image: url("/knit/images/SearchLogo.jpg");
	vertical-align: middle;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.home{
	width: 50px;
	height: 50px;
	background: #CC33FF;
	vertical-align: middle;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.user{
	width: 50px;
	height: 50px;
	background: #FF0066;
	vertical-align: middle;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.item{
	width: 50px;
	height: 50px;
	background: blue;
	vertical-align: middle;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.inside{
	width:400px;
	height:50px;
	padding: 10px;
	background-color: yellow;
	display: none;
}
