@CHARSET "UTF-8";
body{
	margin:0;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	height: 51px;
	width: 100%;
	margin:0;
	text-align:center;

}
.cart{
	width: 50px;
	height: 50px;
	background-image:;
	display:inline-block;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.search{
	width: 50px;
	height: 50px;
	background-image: url("/knit/images/SearchLogo.jpg");
	display:inline-block;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.home{
	width: 50px;
	height: 50px;
	background: #CC33FF;
	display:inline-block;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.user{
	width: 50px;
	height: 50px;
	background: #FF0066;
	display:inline-block;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.item{
	width: 50px;
	height: 50px;
	background: blue;
	display:inline-block;
	text-decoration: none;
	border-style:none;
	box-shadow:2px 2px 2px #555;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.inside{
	width:400px;
	height:50px;
	padding: 10px;
	background-color: yellow;
	display: none;
}
