@CHARSET "UTF-8";
#header{position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:60px;
	background-color:black;
}

html{
	min-width:1000px;
	min-height:calc(100vh - 70px);
	}

.logo{float:left;
	padding-left:10px;
	color:white;
	font-size:25px;
	line-height:60px;
}

ul{
	float:right;
	line-height:40px;
}

li{float:left;
	list-style:none;
	padding-right:20px;
	color:white;
	font-size:18px;
	}

.main{
	clear:both;

	}

.title{
	text-align:center;
	padding:8px 19px;
	margin:6em 0;
	color:#2c2c2f;
	background:#eeeeee;
	border-top:solid 5px #808080;
	border-bottom:solid 5px #808080;
}
.title h3{
	font-size:20px;
	margin:0;
	padding:0;
}

#mainContainer {
	margin:auto;
	width:700px;
}

#leftContents{
	/* position:absolute; top:100px; left:100px; */
	width:50%;
	float:left;
	margin:0 auto;
	margin-top:20px;
}

#rightContents{
	/* position:absolute;top: 100px; left:500px; */
	width:50%;
	float:right;

}

table td .checkbox {
	text-align:right;
}

<!--ボタン関連-->


.buttonBox {
	width: 100%;
	text-align: center;
}

.submitButtonBox {
	/* position: absolute;top: 100px;left: 700px; */
 	float: left;
	width: 130px;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left:2em;
	z-index: 2;
	color: #fff;
}

.backButtonBox {
	position: relative;
 	float: right;
	width: 130px;
	margin-top: 2em;
	margin-bottom: 1em;
	z-index: 2;
	color: #fff;
}

.btnn {
	/* position: absolute;top: 100px;left: 700px; */
    float: left;

	width: 193px;
	margin: 0 auto;
	z-index: 2;
	color: #fff;

	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.btn0 {
	/* position: absolute;top: 100px;left: 700px; */

	width: 250px;
	/* margin: 0 auto; */
	margin-top:20px;
	z-index: 2;
	color: #fff;

	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.btn {

    /*position: absolute;top: 260px;left: 700px; */
	float: left;

	width: 193px;
	margin: 0 auto;
	z-index: 2;
	color: #fff;
	line-height: 50px;

	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


.btnn a,.btn a,.btn0 a{

	color: #fff;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 11px;
}

.submitButtonBox a {

	color: #fff;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 5px;
}

.backButtonBox a {

	color: #000;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 5px;
}

/*------*/

.sbutton {
	position: relative;
	display: inlineblock;
	padding: .80em 2em;
	background-color: #808080;
	text-decoration: none;
}

.bbutton {
	position: relative;
	display: inlineblock;
	padding: .80em 2em;
	background-color: #C0C0C0;
	text-decoration: none;
}

.button {
	position: relative;
	display: inline-block;
	padding: .65em 4em;
	border: 2px solid #C0C0C0;
	color: #333;
	text-decoration: none;
	text-align: center;

	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.button::after {
    position: absolute;
	top: 4px;
	left: 4px;
	z-index: -1;
	content: '';
	width: 102%;
	height: 102%;
	background-color: #808080;

	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.button:hover {

	color: #C0C0C0;

}

.button:hover::after {

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(0);
	transform: rotate(0);

}



#error {
	margin-top:1em;
	color :red;
	text-align:center;
}