@CHARSET "UTF-8";


header{
	
	background: #F48FB1;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	
}

body{
	min-width: 800px;
}

html, body, h3, p, center,
table,  tr, th, td,
 footer, header, section {
 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


footer, section {
	display: block;
}

.main {
	width: 100%;
}

.contBody {
	width: 100%;
	margin-top: 20px;
}

<!--会員登録情報-->

#secRegist {
	width: 100%;
	margin: 0;
	padding: 0;
}

.sectionHeader {
	
	background-color:#808080;
	
    position: relative; top: 55px; left: 170px;
    
	width: 155px;
	height: 37px;
    margin: 25px 0 16px 0;　/*会員情報枠位置*/
    
	text-align: center;
	font-weight: bold;
	font-size:19px;
	padding: 0.1em 0.4em;
	color:#fff;
	
	font-family: “游ゴシック Medium”, “Yu Gothic Medium”,sans-serif;
}

.sectionHeader h3 {
	
	text-align: center;
	margin: 0 auto;
	line-height: 37px;　/*会員情報の文字位置*/
	
}


<!--ボタン関連-->

.buttonBox {
	width: 100%;
}

.btnn { 
	position: absolute;top: 130px;left: 850px;
    float: right;
	
	width: 193px;
	margin: 0 auto;
	margin-top: 5em;
	z-index: 2;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}

.btn0 {
    position: absolute;top: 230px;left: 850px;
    float: right;
    
	width: 193px;
	margin: 0 auto;
	margin-top: 4em;
	z-index: 2;
	line-height: 50px;	
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.btn {
	
    position: absolute;top: 310px;left: 850px;
   float: right;
   
	width: 193px;
	margin: 0 auto;
	margin-top: 4em;
	z-index: 2;
	line-height: 50px;
	-webkit-perspective: 300px;
	perspective: 300px;
	
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}



.btnn a,.btn a,.btn0 a{
	
	color: #fff; /*押す前のfontの色*/
	
	font-family: 'Covered By Your Grace', cursive;
	font-size: 15px;
	line-height: 11px;
}



/*------*/


.button {
	position: relative;
	display: inline-block;
	padding: .65em 4em;
	
	border: 2px solid #C0C0C0;	/*枠の色*/
	
	color: #333;
	text-decoration: none;
	text-align: center;
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}

.button::after {
	
    position: absolute;
	top: 4px;
	left: 4px;
	z-index: -1;
	content: '';
	width: 102%;
	height: 102%;

	background-color: #808080; 	/**/
    
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.button:hover {
	
	color: #C0C0C0;/*押した後のfontの色*/
	
}

.button:hover::after {
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	-webkit-transform: rotate(0);
	transform: rotate(0);
	
}

<!--テーブル-->

table {
	width: 500px;
}

table {
	
    position:relative;top: 90px; left:170px;
    margin-top: 1em;
    
	width: 500px;
	border-collapse: separate;
	border-spacing: 0px 11px;
	font-size: 12px;
	
	padding-bottom:20px; 
}

table th, table td {
	
	padding: 6px;
	padding-left: 30px;
	
}

table th {
	
	background:#808080;
	vertical-align: middle;
	text-align: left;
	width: 125px;
	overflow: visible;
	position: relative;
	color: #fff;
	font-weight: normal;
	font-size: 17px;
	
}


td {
	
	font-size: 15px;
	background:#fff;
	border-width: 0.3px;
	
	border-bottom: solid 4px #808080;
	
}

/*ボタンその２↓------------------------------*/

.other {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}
.other::before,
.other::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.other,
.other::before,
.other::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}




/*------------------------------*/

.other {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 48px;
}
.other::after {
  top: 4px;
  left: 4px;
  width: 188px;
  height: 42px;
  border: 2px solid #333;
  opacity: 0;
}
.other:hover::after {
  opacity: 1;
}

/*---------ボタンその２↑------------------------*/

<!--フッター-->


footer{
	background: #F48FB1;
	clear: both;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 100px;
	color: #fff;
}

