@CHARSET "UTF-8";

html{overflow:scroll;}

table{white-space: nowrap;
	border-spacing : 5px 10px;
	margin-left: auto;
	margin-right: auto;
	width:400px;
	margin-top:5px;
	background-color:white;
	border-bottom:1px solid lightgray;
	border-top:1px solid lightgray;}
img{width: 200px;
    height:auto;}

.cancel{position: fixed;
        top:250px;
        left:80%;}