@CHARSET "UTF-8";

html{min-width:1000px;
	font-family: “游ゴシック Medium”, “Yu Gothic Medium”,sans-serif;}

table{white-space: nowrap;
	border-spacing : 5px 10px;
	margin-left: auto;
	margin-right: auto;
	width:400px;
	margin-top:5px;
	background-color:white;
	border-bottom:1px solid lightgray;
	border-top:1px solid lightgray;}

.table01{float:left;}

.table02{float:left;}

.guide{background-color:#808080;
	   color:#fff;}

.title{text-align: center;}


img{width: 200px;
    height:auto;}

.cancel{position: fixed;
        top:250px;
        left:80%;}
