@CHARSET "UTF-8";
#main{
	text-align:center;
	margin-top:50px;
	min-height:calc(100vh - 70px);
}
#title{
	text-align:center;
	padding:8px 19px;
	margin:2em 0;
	color:#2c2c2f;
	background:#eeeeee;
	border-top:solid 5px #555555;
	border-bottom:solid 5px #555555;
}
#title p{
	font-size:20px;
	margin:0;
	padding:0;
}

table{
	white-space: nowrap;
	border-spacing : 5px 50px;
	margin-left: auto;
	margin-right: auto;
	width:400px;
	margin-top:5px;
	background-color:white;
	border-bottom:1px solid lightgray;
	border-top:1px solid lightgray;
}


td{

}

input:focus,select:focus,textfield:focus{
	background-color:#D3D3D3;
}
input,select,textfield{
	width:180px;
	height:30px;
}

.complete{
	white-space: nowrap;
	border-spacing : 5px 50px;
	margin-left: auto;
	margin-right: auto;
	width:400px;
	margin-top:5px;
	background-color:white;
	border-bottom:1px solid lightgray;
	border-top:1px solid lightgray;
}

#error{
	color:red;
}