@CHARSET "UTF-8";
table{
	border-style: solid;
	width: 60%;
     margin-left: 20
    }

   img{
    width: 200px;
    height:auto;
    }

 .center{
    text-align:center;
    }

    .totalPrice{
    text-align: right;
    }
	.destinationTable{
	border-style: solid;
	}


