@CHARSET "UTF-8";



   img{
    width: 200px;
    height:200px;
    vertical-align:top;
    }

 .center{
    text-align:center;
    }

    .totalPrice{
    text-align: right;
    font-size:300%;
    }

    .settlementtable{
     text-align: center;
    }

    table{
     text-align: left;
	margin-left: auto;
	margin-right: auto


     }

     .message{
     text-align: center;
     font-size:150%;
     }

.destinationTable{
	border-collapse: collapse;

	border:2px solid black;

	width: 500px;

    }
    td{
    border: 1px solid black;
    }


    .purchase{

position:relative; top: 15px; left: 1000px;
    }

    .destination{
    position:relative; top: 10px; left: 975px;
    }

    .midasi,.jouhou{
    width: 200px;
    margin-left:50px;
    }



